* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.box {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eeeeee;
}

.box:nth-child(3) {
  margin-right: 0;
}

.box-text {
  margin: 15px 0 5px 0;
  width: 280px;
}

.box-item {
  position: absolute;
  padding: 3px;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: white;
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  header {
    height: 50px;
    width: 100%;
  }

  main {
    margin: 50px 0 50px 0;
    width: 100%;
    display: block;
  }

  .box {
    display: block;
    width: 90%;
    margin: auto;
  }

  .box:nth-child(2) {
    display: block;
    margin: 20px auto;
    width: 90%;
  }

  .box:nth-child(3) {
    width: 90%;
    margin: auto;
  }

  .box-img1 {
    height: 150px;
    width: 100%;
  }

  .box-img2 {
    height: 150px;
    width: 100%;
  }

  .box-img3 {
    height: 150px;
    width: 100%;
  }

  footer {
    height: 50px;
    width: 100%;
  }
}
